body{
	background: #F9F9F9;
}
*{
                margin:0;
                padding:0;

            }
            .title{
                width:703px;
                height:144px;
                position:absolute;
                top:0px;
                left:0px;
                background:transparent url(../title.png) no-repeat top left;
            }
            a.back{
                background:transparent url(../back.png) no-repeat top left;
                position:fixed;
                width:150px;
                height:27px;
                outline:none;
                bottom:0px;
                left:0px;
            }
.logo{
    margin-top: 10px;
    background: #ffffff;
    margin-bottom: 10px;


}
.big{
    height: auto;
    width: 100%;
    background: #ffffff;
    margin-bottom: 10px;
    border-bottom:  1px #7D7D7D solid ;

}
.biglanding{
    height: 545px;
    width: 100%;
    background: url(../img/landing-hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -10px;

}
.landingtext{
    font-size: 70px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    padding-top: 150px;
}
.green{
    color: #5BBC2E;
}
.black{
    color: black;
}
.btnlargest{
   width: 430px;
    height: 50px;
    background: #5BBC2E;
    color: white;
    font-size: 30px;
    padding-left: 160px;
    margin-left: 25%;
    cursor: pointer;
    margin-top: -60px;
}
.btnlargest:hover{

    background:#EDECF2;
    color: #5BBC2E;
    border: 0.5px solid #5BBC2E;
    font-weight: lighter;

}

.stext{
   font-size: 25px;
	color: #7D7D7D;
    margin-left: 300px;
}
.smalltextd{
     font-size: small;
}
.bodydesctext{
    margin-top: 30px;
     font-size: 40px;
    color: #7D7D7D;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
}
.Desc-text{
    margin-left: 25%;
}
.btn-green{
     width: 200px;
    height: 50px;
    border: 1px solid #5BBC2E;
    color: #5BBC2E;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: small;
   padding-left: 25%;
    cursor: pointer;
    padding-top: 10px;
    margin-left: 135%;

}
.btn-green:hover{
background:#5BBC2E;
    color: white;
}
.selectlarge{
overflow: scroll;
}
